<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<title>ClickDent - {% block titulo %} {% endblock %} </title>
	<title></title>
	<link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" />
  	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilos2.css">
  	<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
</head>
<body class="clickDent" id="clickDent">
	<div class="menu" id="menu">
		<div class="cerra icon-cancel-circle" id="cerrar-menu"></div>
		<div class="avatar">
			<img class="imgAvatar" src="{{STATIC_URL}}img/usuario.png"></img>
		</div>
		<div class="datosLogin">
			username13
		</div>
		<nav>
			<ul>
				<li id="inicio" class="itemMenu">Inicio</li>
				<li class="titulo">Citas</li>
				<li id="citas" class="itemMenu">Agrgar Cita</li>
				<li id="calendario" class="itemMenu">Calendario</li>
				<li class="titulo">Pacientes</li>
				<li id="paciente" class="itemMenu">Agregar Paciente</li>
				<li id="paciente-consultar" class="itemMenu">Consultar Paciente</li>
				<li id="pagos" class="itemMenu">Pagos Pendientes</li>
				<li class="titulo">Consultorio</li>
				<li id="tratamientos" class="itemMenu">Tratamientos</li>
				<li id="receta" class="itemMenu">Receta</li>
				<li class="titulo">Perfil</li>
				<li id="miperfil" class="itemMenu">Mi perfil</li>
				<li id="configuracion" class="itemMenu seleccion">Configuracion</li>
			</ul>
		</nav>
	</div>
	<div class="contenido" id="contenido">
		<header id="header">
			<div id="btn-menu" class="cont-menu icon-menu"></div>
			clickDent 
			<div id="notificaciones" class="notificaciones icon-bell"></div>
		</header>
		
		<div id="interaccion">
			{% block contenido %} {% endblock %}
		</div>
	</div>

<script src="{{STATIC_URL}}js/vendor/jquery.js"></script>
<script src="{{STATIC_URL}}js/vendor/underscore.js"></script>
<script src="{{STATIC_URL}}js/vendor/backbone.js"></script>
<script src="{{STATIC_URL}}js/utils/utils.js"></script>
<script src="{{STATIC_URL}}js/app.js"></script>
<!--<script src="{{STATIC_URL}}js/models/usuario.js"></script>-->
<script src="{{STATIC_URL}}js/models/paciente.js"></script>
<script src="{{STATIC_URL}}js/models/direccion.js"></script>
<script src="{{STATIC_URL}}js/models/colonia.js"></script>
<script src="{{STATIC_URL}}js/collections/pacientes.js"></script>
<script src="{{STATIC_URL}}js/collections/direcciones.js"></script>
<script src="{{STATIC_URL}}js/collections/colonias.js"></script>
<script src="{{STATIC_URL}}js/views/test-menu.js"></script>
<script src="{{STATIC_URL}}js/views/test-paciente.js"></script>
<script src="{{STATIC_URL}}js/views/test-menu.js"></script>
<script src="{{STATIC_URL}}js/views/test-inicial.js"></script>
<script src="{{STATIC_URL}}js/routers/router.js"></script>
<script src="{{STATIC_URL}}js/main.js"></script>


</body>
</html>