	<seccion class="tabs">

		<div class="tab2">
			<div class="titulo-tab">Pacientes</div>
			<div class="buscar-cita">
				<div class="busca-pago">
				<label>Buscar participante:</label><input id="inputBuscar" placeholder="Busca por nombre o clave">
				</div>
				<button class="button" id="buscarPaciente">Buscar</button></div>

			</div>
			<table class="pacientes">
				<thead>
				  <th>Clave Paciente</th>
				  <th>Nombre</th> 
				  <th>Actualizar</th>
				  <th>Datos</th>
				  <th>Historial</th>
				  <th>Consultas</th>
				  <th>Tratamientos</th>
				</thead>
				<tbody id="listaPacientes">
					
				</tbody>
			</table>

		</div>

	</seccion>
