	<seccion class="tabs">

		<div class="tab2">
			<div class="titulo-tab">Calendario de Citas</div>
			<div class="calendario">
				<div class="citas-calendario">
					<div class="fechas">
						<div id="atrasarFecha" class="navegacion float-left"><a href=""><</a></div>
						<div id="fechaAnterios">Ayer</div>
						<div  id="fechaActual" class="cita-seleccion">Hoy</div>
						<div id="fechaSiguiente">Mañana</div>
						<div id="adelantarFecha" class="navegacion float-rigth"><a href="">></a></div>
					</div>
					<div class="cita-calendario">
						<div id="atrasarCita" class="navegacion float-left"><</div>
						<div class="cita-datos">
							<div id="datosCita">
								
							</div>

						</div>
						<div id="adelantarCita"  class="navegacion float-rigth"> ></div>
					</div>
				</div>

			</div>

		</seccion>

<script id="popup-cancelarCita-template" type="text/x-handlebars-template">
  	<div class="titulo">Cancelar Cita</div>
	<div class="contenido">
	<div class="campo chico-negritas"><div> ¿ Seguro que deseas continuar con la canelacion de la cita ? </div>
  		<button id="cancela-cita-calendario">Si</button>
  		<button id="cancelar">No</button>
	</div>
</script>
