<seccion class="tabs configuracion">
	<div class="contenidos-tabs">
		<div class="tab2">
			<div class="titulo-tab">Datos Medico</div>
			<div class="valor-conf">
			<label>Nombre: </label>
				<input name="nombre" value="{{ medico.nombre }}" class="alfanumerico">
				<div class="error">El nombre no es valido (minimo 3 letras)</div>
			</div>
			<div class="valor-conf">
				<label>Apellido Paterno: </label>
				<input name="ape_paterno" value="{{ medico.ape_paterno }}" class="alfanumerico">
				<div class="error">El apellido no es valido (minimo 3 letras)</div>
			</div>
			<div class="valor-conf">
				<label>Apellido Materno: </label>
				<input name="ape_materno" {% if medico.ape_materno %} value="{{ medico.ape_materno }}" {% endif %} class="alfanumericonor">
				<div class="error">El apellido no es valido </div>
			</div>
			<div class="valor-conf">
				<label>Num. Cedula: </label>
				<input name="num_cedula" {% if medico.num_cedula %} value="{{ medico.num_cedula }}" {% endif %}  class="alfanumericonor">
				<div class="error">El Num. Cedula no es valido (verifique simbolos)</div>
			</div>
			<div class="valor-conf">
				<label>Declaracion: </label>
				<textarea class="alfanumericonor" name="declaracion" {% if medico.declaracion %} value="{{ medico.declaracion }}" {% endif %} > </textarea>
				<div class="error">La Declaracion no es valido (verifique simbolos)</div>
			</div>
			<div class="valor-conf">
				<label>Especialidad: </label>
				<select name="especialidad" value="{{ medico.especialidad }}">
					{% for dato in especialidad %}
					
						{% if dato.id == medico.especialidad.id %}	
							<option selected  value="{{ dato.id }}">{{ dato.nombre }}</option>
						{% else %}
							<option value="{{ dato.id }}">{{ dato.nombre }}</option>
						{% endif %}	
						
					
					{% endfor %}
				</select>
			</div>
		</div>
		<div class="tab">
			<div class="titulo-tab">Formacion</div>
			<div class="valor-conf" id="datosEscuela">
				<label class="estudios"><a href="#" id="agregarEscuela"><div class="icon-plus"></div> Agregar escuela </a></label> 
				{% for dato in formacion %}
					<div class="datoEscuela">
						<div>
						
						{% if forloop.counter0 %}
							<div class="contenedorEscuela"><div class="icon-cancel-circle cerraEscuela"></div></div>
						{% endif %}
							
							<label>Escuela: </label><input name="escuela" value="{{ dato.escuela }}"> 
						</div>
						<div>
							<label>Titulo Obtenido: </label><input name="titulo" value="{{ dato.titulo }}">
						</div>
					</div>

				{% empty %}

					<div class="datoEscuela">
						<div>
							<label>Escuela: </label><input name="escuela"> 
						</div>
						<div>
							<label>Titulo Obtenido: </label><input name="titulo">
						</div>
					</div>


				{% endfor %}
			</div>	
		</div>
		<div class="tab1">
			<div class="titulo-tab">Citas</div>
			<div class="valor-conf">
				<label>Duracion de consulta regular: </label>
				<select name="duracion_consulta">
					<option {% if configuracion.duracion_consulta == 10 %} selected {% endif %} value="10">10 min</option>
					<option {% if configuracion.duracion_consulta == 15 %} selected {% endif %} value="15">15 min</option>
					<option {% if configuracion.duracion_consulta == 20 %} selected {% endif %} value="20">20 min</option>
					<option {% if configuracion.duracion_consulta == 30 %} selected {% endif %} value="30">30 min</option>
				</select>
			</div>
			<div class="valor-conf">
				<input name="configuracion-id" value="{{ configuracion.id }}" type="hidden" >
				<label>Horario de consulta: </label>
				<input type="time" name="hora_consulta_inicio" value='{{configuracion.hora_consulta_inicio|time:"H:i"}}'>
				 - 
				 <input type="time" name="hora_consulta_fin"  value='{{configuracion.hora_consulta_fin|time:"H:i"}}'>
			</div>
			<div class="valor-conf">
				<label>Horario de comida: </label>
				<input type="time" name="hora_comida_inicio" value='{{ configuracion.hora_comida_inicio|time:"H:i" }}'>
				 - 
				<input type="time" name="hora_comida_fin" value='{{ configuracion.hora_comida_fin|time:"H:i" }}'>
			</div>
			<div class="valor-conf">
				<label>Confirmacion por correo: </label>
				<input type="checkbox" name="confirmacion_correo" {% if configuracion.confirmacion_correo %} checked {% endif %} >
			</div>
			<div class="valor-conf">
				<input type="hidden" value="{{ configuracion.recordatorio_cita }}" id="recordatorio">
				<label>Recordatorio de cita por correo: </label>
				<div class="check"><input name="recordatorio_cita" value="3" id="3" type="checkbox"><label>3 horas</label></div>
				<div class="check"><input name="recordatorio_cita" value="6" id="6" type="checkbox"><label>6 horas</label></div>
				<div class="check"><input name="recordatorio_cita" value="12" id="12" type="checkbox"><label>12 horas</label></div>
				<div class="check"><input name="recordatorio_cita" value="24" id="24" type="checkbox"><label>24 horas</label></div>
			</div>
			<div class="valor-conf">
				<label>Recibir notificaciones de citas: </label>
				<div class="check"><input name="notificacion_mail" {% if configuracion.notificacion_mail %} checked  {% endif %} type="checkbox"><label>Web</label></div>
			</div>		
		</div>

		<div class="tab2">
			<input type="hidden" value="{{ consultorio.id }}" name="consultorio-id">
			<input type="hidden" value="{{ consultorio.direccion.id }}" name="direccion-id">
			<div class="titulo-tab">Datos Consultorio</div>
			<div class="valor-conf">
				<label>Nombre del consultorio: </label>
				<input value="{{consultorio.nombre}}" name="consultorio-nombre" class="alfanumericonor"/>
				<div class="error">El nombre del consultorio no es valido (verifique simbolos)</div>
			</div>
			<!-- Pendiente en el modelo y en la BD -->
			<div class="valor-conf">
				<label>Num. Emergencias: </label>
				<input name="num_emergencias" value="{{consultorio.num_emergencias}}"  class="validatelefono">
				<div class="error">Telefono no valido ( 55-12345678 )</div>
			</div>
			<div class="valor-conf">
				<label>Num. Telefono: </label>
				<input name="num_telefono" value="{{consultorio.num_telefono}}"  class="validatelefono">
				<div class="error">Telefono no valido ( 55-12345678 )</div>
			</div>
			<div class="valor-conf">
				<label>Codigo Postal: </label>
				<input id="cp" value="{{consultorio.direccion.colonia.cp}}" class="validaCP" name="cp">
				<div class="error">Codigo postal no valido ( 73310 )</div>
			</div>
			<div class="valor-conf">
				<label>Calle: </label>
				<input name="calle" value="{{consultorio.direccion.calle}}"  class="alfanumerico">
				<div class="error">La calle no es valido (verifique simbolos)</div>
			</div>
			<div class="valor-conf">
				<label>Num. Exterior: </label>
				<input name="num_exterior" value="{{consultorio.direccion.num_exterior}}"  class="alfanumericonor">
				<div class="error">El Num. Exterior no es valido (verifique simbolos)</div>
			</div>
			<div class="valor-conf">
				<label>Num. Interior: </label>
				<input name="num_interior" value="{{consultorio.direccion.num_interior}}" class="alfanumericonor">
				<div class="error">El Num. Interior no es valido (verifique simbolos)</div>
			</div>
			<div class="valor-conf">
				<label>Colonia: </label>
				<select name="colonia" id="colonia">
					<option value="{{consultorio.direccion.colonia.id}}">{{consultorio.direccion.colonia.nombre}}</option>
				</select>
			</div>
			<div class="valor-conf">
				<label>Municipio/Delegacion: </label>
				<select id="municipio">
					<option value="{{consultorio.direccion.colonia.municipio.id}}">{{consultorio.direccion.colonia.municipio.nombre}}</option>
				</select>
			</div>
			<div class="valor-conf">
				<label>Estado: </label>
				<select id="estado">
					<option  value="{{consultorio.direccion.colonia.municipio.estado.id}}">{{consultorio.direccion.colonia.municipio.estado.nombre}}</option>
				</select>
			</div>
			<div class="valor-conf">
				<label>Referencia de localizacion: </label>
				<textarea name ="referencias" class="alfanumericonor">{{consultorio.direccion.referencias}}</textarea>
				<div class="error">La referencia no es valida (verifique simbolos)</div>
			</div>

			<div class="valor-conf">
				<form id="formularioConsultorio" method="POST" action="/actualizarConsultorio/" > 
					<label>Logo Consultorio: </label>
						<input type="file" id="files" name="file" />
						<output id="list">
							<img class="imgConsultorio" {% if consultorio.url_imagen %} src="{{STATIC_URL}}{{consultorio.url_imagen}}" 
							{% else %} src="{{STATIC_URL}}img/usuario.png"
							{% endif %}></img>
						</output>
						{% csrf_token %}
				</form>
			</div>

			<div class="botones-form">
				<button class="button" id="guardar">
					Guardar
				</button>
			</div>
		</div>
	</seccion>

	<script type="text/javascript">

	function archivoConsultorio(evt) {
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                         document.getElementById("list").innerHTML = ['<img class="imgConsultorio" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
                        };

                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
             
              document.getElementById('files').addEventListener('change', archivoConsultorio, false);

	</script>