	<seccion class="tabs pacientes">
		<div class="contenidos-tabs" id="section-paciente">

			<div class="tab2">
				<div class="titulo-tab">Diagnostico y plan de tratamiento</div>
				<div class="edicion valor-conf">
					<a href="#" class="icon-undo edit"><span>Cancelar</span></a> <label> Clave del paciente :  <span class="requerido" id="calvePaciente">000001</span> </label><a href="#" class="icon-paste edit"><span>Historial</span></a>
				</div>
				<div class="valor-conf">
					<label>Diagnostico: </label>
					<textarea class="alfanumerico" name="diagnostico"></textarea>
				</div>
			</div>
			<div class="botones-form">
			<button class="button" id="guardar">
				Guardar
			</button>
			<button class="button noEdicion" id="limpiar">
				Limpiar
			</button>
			</div>
		</div>
	</seccion>
