<section id="home">
	<div class="busqueda">
		<label for="buscar">Buscar Paciente: </label>
		<div class="buscar">
			<input placeholder="Ingresa clave o nombre del paciente" name ="buscar" />
			<div class="icon-plus avanzado"></div>
			<div class="icon-search"></div>
		</div>

	</div>

	<div id="citas" class="citas">
		
	</div>

</section>


	<div id="citasPendientes" class="citasPendientes">
		<h3>Citas sin finalizar</h3>
		
	</div>

<script id="popup-pagarConsulta-template" type="text/x-handlebars-template">
  	<div class="titulo">Pagar</div>
	<div class="contenido">
		<input type="hidden" name="id" />
		<div class="campo"><label>Precio Consulta</label><input class="sumarTotal validaMoneda" id="popupCosto" name="costo" value="$0.00" ><div class="error">Formato de moneda no valido ($99,999.00)</div></div>
  		<div class="campo" id="campoTratamiento"><label>Precio Tratamiento</label><input  class=" sumarTotal validaMoneda" id="popupPrecioTratamiento" name="precio" value="$0.00"><div class="error">Formato de moneda no valido ($99,999.00)</div> </div>
  		<div class="campo chico-negritas" id="campoDeuda"><label>Deuda</label><input name="deuda" id="popupDeuda" value="$0.00"  readonly="readonly"> </div>
  		<div class="campo chico-negritas"><label>Total</label><input name="total" id="popupTotal" value="$0.00" readonly="readonly" class="validaMoneda"></div>
  		<br>
  		<div class="campo"><label>Pagado</label><input id="popupPagado" value="$0.00" class="validaMoneda" name="pagado" value=""> <div class="error">Formato de moneda no valido ($99,999.00)</div> </div>
  		<button id="gurdar-pago">Pagar</button>
  		<button id="cancelar">Cancelar</button>
	</div>
</script>

<script id="popup-receta-template" type="text/x-handlebars-template">
  	<div class="titulo">Receta</div>
	<div class="contenido">
		<input type="hidden" name="id" />
		<div class="campoReceta"><input class="inputReceta" id="" name="" placeholder="(1)  Medicamente y dosis"></input></div>
		<div class="campoReceta"><input class="inputReceta" id="" name="" placeholder="(2)  Medicamente y dosis"></input></div>
		<div class="campoReceta"><input class="inputReceta" id="" name="" placeholder="(3)  Medicamente y dosis"></input></div>
		<div class="campoReceta"><input class="inputReceta" id="" name="" placeholder="(4)  Medicamente y dosis"></input></div>
		<div class="campoReceta"><input class="inputReceta" id="" name="" placeholder="(5)  Medicamente y dosis"></input></div>
  		<button id="crear-receta">Crear</button>
  		<button id="cancelar">Cancelar</button>
	</div>
</script>

<script id="popup-pagado-template" type="text/x-handlebars-template">
  	<div class="titulo">Pago Realizao</div>
	<div class="contenido">
	<div class="campo chico-negritas"><div> Se realizo el pago. La dedua del paciente es <label id="deudaNueva" class="remarcar">$0.00</label> </div></div>
  		<button id="cancelar">Ok</button>
	</div>
</script>

<script id="popup-cancelarCita-template" type="text/x-handlebars-template">
  	<div class="titulo">Cancelar Cita</div>
	<div class="contenido">
	<input id="popup-cancelar-chkTratamiento" type="hidden"/>
	<input id="popup-cancelar-idcita" type="hidden"/>
	<div class="campo chico-negritas"><div> ¿ Seguro que deseas continuar con la canelacion de la cita ? </div>
  		<button id="cancela-cita">Si</button>
  		<button id="cancelar">No</button>
	</div>
</script>

<script id="popup-concluirCita-template" type="text/x-handlebars-template">
  	<div class="titulo">Cancelar Cita</div>
	<div class="contenido">
	<input id="popup-cancelar-chkTratamiento" type="hidden"/>
	<input id="popup-cancelar-idcita" type="hidden"/>
	<div class="campo chico-negritas"><div> ¿ Seguro que la cita termino ? </div>
  		<button id="concluir-cita">Si</button>
  		<button id="cancelar">No</button>
	</div>
</script>