<section id="home">
			<div class="busqueda">
				<label for="buscar">Buscar Paciente: </label>

				<div class="buscar">
					<input placeholder="Ingresa clave o nombre" name ="buscar" />
					<div class="icon-plus avanzado"></div>
					<div class="icon-search"></div>
				</div>

			</div>

			<div class="citas">
				<div class="cita">
					<div class="horario">9:00 - 9:30</div>
					<div class="clavePaciente"><a href="">MSOSA01</a></div>
					<div class="nombre">Miguel Angel</div>
					<div class="apellido">Sosa Posadas</div>
					<div class="ultima"><label>Ultima Cita:</label> 05 Mayo 2011</div>
					<div class="tratamientos-pendientes"><label>Pendiente:</label> $2598.00</div>
					<div class="historial"><a href="#">Historial</a><a href="#">Receta</a><a href="#">Pagar</a></div>
					<div class="observaciones">Se creara una carilla en el diente canino inferior derecho</div>
					<div class="acciones">
						<div class="reprogramar"><button class="button">Reprogramar</button></div>
						<div class="cancelar"><button class="button">Cancelar</button></div>
					</div>
				</div>
				<div class="proximas">
					<div class="citap">
						<div class="horario">9:00 - 9:30</div>
						<div class="clavePaciente"><a href="">Agregar cita</a></div>
					</div>
					<div class="citap">
						<div class="horario">13:00 - 14:30</div>
						<div class="clavePaciente">MSOSA01</div>
						<div class="nombre">Miguel Angel</div>
						<div class="apellido">Sosa Posadas</div>
						<div class="historial"><a href="#">Historial</a></div>
					</div>
				</div>
			</div>
		</section>