

{% extends 'base.html' %}
{% comment %} Comentarios plantilla django {% endcomment %}
{% block titulo %} Configuracion {% endblock %}

{% block contenido %}
<div class="icon-phone">icon-phone</div>
<div class="icon-undo">icon-undo</div>
<div class="icon-user">icon-user</div>
<div class="icon-key">icon-key</div>
<div class="icon-menu">icon-menu</div>
<div class="icon-point-right">icon-point-right</div>
<div class="icon-arrow-right">icon-arrow-right</div>
<div class="icon-mail">icon-mail</div>
<div class="icon-facebook">icon-facebook</div>
<div class="icon-twitter">icon-twitter</div>
<div class="icon-envelope">icon-envelope</div>
<div class="icon-cancel-circle">icon-cancel-circle</div>
<div class="icon-checkmark-circle">icon-checkmark-circle</div>
<div class="icon-help">icon-help</div>
<div class="icon-bell">icon-bell</div>
<div class="icon-spam">icon-spam</div>
<div class="icon-search">icon-search</div>
<div class="icon-plus">icon-plus</div>

{% endblock %}