<seccion class="tabs perfil">
		<div class="contenidos-tabs">

			<div class="tab2">
				<div class="titulo-tab">Mi Perfil</div>
				<form method="POST" action="/actualizarPerfil/"  id="formulario">
				<div class="valor-conf">
					<label>Usuario: </label>
					<input value="{{usuario.username}}" name="usuario" class="campoRequerido">
					<div class="error">El usuario no es valido</div>
				</div>
				<div class="valor-conf">
					<label>Correo eletronico: </label>
					<input value="{{usuario.email}}" name="correo" class="validaCorreo">
					<div class="error">El correo no es valido</div>
				</div>
				<div class="valor-conf">
					<label>Avatar: </label>
						<input type="file" id="files" name="file" />
						<output id="list">
							<img class="imgAvatar" {% if medico.url_imagen %} src="{{STATIC_URL}}{{medico.url_imagen}}" 
							{% else %} src="{{STATIC_URL}}img/usuario.png"
							{% endif %}></img>
						</output>
						{% csrf_token %}
				</div>
				</form>
			</div>

			<div class="tab">
				<div class="titulo-tab">Cambiar Contraseña</div>
				<div class="valor-conf">
					<label>Contraseña Actual: </label>
					<input id="actual" type="password" name="actual" class="validaCampoPass">
					<div class="error">Contraseña incorrecta</div>
				</div>
				<div class="valor-conf">
					<label>Nueva Contraseña: </label>
					<input type="password" name="nueva" class="validaCampoPass">
					<div class="error">La nueva contraseña no es valiad (minimo 6 caracteres)</div>
				</div>
				<div class="valor-conf">
					<label>Confirmar Contraseña: </label>
					<input id="nueva" type="password" name="confirmacion" class="validaCampoConfirm">
					<div class="error">Laconfirmacion es incorrecta</div>
				</div>
			</div>

			<div class="tab">
				<div class="titulo-tab">Plan</div>
				<div class="valor-conf">
					<label>Actualizar plan: </label>
					{% for dato in planes %}
					
						<div class="check"><input {% if dato.id == configuracion.plan.id %} checked {% endif %}	 type="radio" name="plan" value="{{ dato.id }}"><label>{{ dato.nombre }} {% if dato.id != 1 %} - ${{ dato.precio }} - {{ dato.duracion }} dias  {% endif %}</label></div>
											
					
					{% endfor %}
				</div>
				<div class="botones-form">
				<button class="button" id="guardar">
					Guardar
				</button>
			</div>	
			</div>

	</seccion>
	<script type="text/javascript">

	function archivo(evt) {
                  var files = evt.target.files; // FileList object
             
                  // Obtenemos la imagen del campo "file".
                  for (var i = 0, f; f = files[i]; i++) {
                    //Solo admitimos imágenes.
                    if (!f.type.match('image.*')) {
                        continue;
                    }
             
                    var reader = new FileReader();
             
                    reader.onload = (function(theFile) {
                        return function(e) {
                          // Insertamos la imagen
                         document.getElementById("list").innerHTML = ['<img class="imgAvatar" src="', e.target.result,'" title="', escape(theFile.name), '"/>'].join('');
                        };

                    })(f);
             
                    reader.readAsDataURL(f);
                  }
              }
             
              document.getElementById('files').addEventListener('change', archivo, false);

	</script>