	<seccion class="tabs">
		<div class="contenidos-tabs" id="section-paciente">

			<div class="tab2">
				<div class="titulo-tab">Datos del Paciente</div>
				<div class="valor-conf">
					<label>Nombre: </label>
					<input name="nombre">
				</div>
				<div class="valor-conf">
					<label>Apellido Paterno: </label>
					<input name="ape_paterno">
				</div>	
				<div class="valor-conf">
					<label>Apellido Materno: </label>
					<input name="ape_materno">
				</div>
				<div class="valor-conf">
					<label>Fecha de Nacimiento: </label>
					<input name="fecha_nacimiento" type="Date">
				</div>
				<div class="valor-conf">
					<label>Sexo: </label>
					<div class="check"><input checked type="radio" name="sexo" value="M"><label>Masculino</label>
					</div>
					<div class="check"><input type="radio" name="sexo" value="F"><label>Femenino</label>
					</div>
				</div>
				<div class="valor-conf">
					<label>Telefono Casa: </label>
					<input name="tel_casa">
				</div>
				<div class="valor-conf">
					<label>Telefono Celular: </label>
					<input name="tel_celular">
				</div>
				<div class="valor-conf">
					<label>Telefono Recados: </label>
					<input name="tel_otro">
				</div>
				<div class="valor-conf">
					<label>Correo: </label>
					<input name="correo">
				</div>
				<div class="valor-conf">
					<label>Codigo Postal: </label>
					<input name="cp" id="cp">
				</div>
				<div class="valor-conf">
					<label>Calle: </label>
					<input name="calle">
				</div>
				<div class="valor-conf">
					<label>Num. Exterior: </label>
					<input name="num_exterior">
				</div>
				<div class="valor-conf">
					<label>Num. Interior: </label>
					<input name="num_interior">
				</div>
				<div class="valor-conf">
					<label>Colonia: </label>
					<select name="colonia" id="colonia">
					</select>
				</div>
				<div class="valor-conf">
					<label>Municipio/Delegacion: </label>
					<select name="municipio" id="municipio" >
					</select>
				</div>
				<div class="valor-conf">
					<label>Estado: </label>
					<select name="estado" id="estado" >
					</select>
				</div>
				<div class="valor-conf">

					<label>Ocupacion: </label>
					<select name="ocupacion" >
						{% for dato in ocupacion %}
						<option value="{{ dato.id }}">{{ dato.nombre }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="valor-conf">
					<label>Estado Civil: </label>
					<select name="estado_civil">
						<option value="1">Casado</option>
						<option value="2">Soltero</option>
						<option value="3">Union Libre</option>
						<option value="4">Divorsiado</option>
					</select>
				</div>
			</div>
			<input type="hidden" value="1" name="medico">
			<div class="botones-form">
			<button class="button" id="guardar">
				Guardar
			</button>
			<button class="button" id="limpiar">
				Limpiar
			</button>
			</div>
		</div>
	</seccion>
