	<seccion class="tabs">

		<div class="tab2">
			<div class="titulo-tab">Lista de Pagos</div>
			<div class="buscar-cita">
				<div class="busca-pago">
				<label>Buscar participante:</label><input id="inputBuscar">
				</div>
				<button class="button" id="buscarPagos">Buscar</button></div>

			</div>
			<table class="pagos">
				<thead>
				  <th>Clave Paciente</th>
				  <th>Nombre</th> 
				  <th>Pendiente</th>
				  <th>Detalles</th>
				  <th>Pagar</th>
				</thead>
				<tbody id="listaPagos">
					
				</tbody>
			</table>

		</div>

	</seccion>

	<!-- Templates  Pagos Select-->
	  <script id="popup-pagar-template" type="text/x-handlebars-template">
	  	<div class="titulo">Realizar Pago</div>
		<div class="contenido">
			<input type="hidden" name="id" />
			<div class="campo"><select id="lista_tratamientos">

			</select></div>
			<div class="campo"><label>Notas : </label><textarea id="notasRalizaPago" name="notas" placeholder="Ejemp: Primer abodo" class="alfanumericonor"  ></textarea>
			<div class="error">Valide los simbolos utilazdos</div></div>
	  		
	  		<div class="campo"><label>Cantidad : </label><input id="pagadoRealizaPago" name="pagado" class="validaMoneda" placeholder="Ejemp: $ 0.00"  >
	  		<div class="error">Formato de moneda no valido ($99,999.00)</div></div>
	  		<div class="error" id="errorRealizaPago"></div>
	  		<button id="realizar-pago">Pagar</button>
	  		<button id="cancelar">Cancelar</button>
		</div>
	  </script>
