	<seccion class="tabs">

		<div class="tab2">
			<div class="titulo-tab">Lista de Pagos</div>
			<div class="buscar-cita">
				<div class="busca-pago">
				<label>Buscar participante:</label><input>
				</div>
				<button class="button">Buscar</button></div>

			</div>
			<table class="pagos">
				<thead>
				  <th>Clave Paciente</th>
				  <th>Nombre</th> 
				  <th>Pendiente</th>
				  <th>Detalles</th>
				  <th>Pagar</th>
				</thead>
				<tr>
				  <td class="gris" >MSOSA01</td>
				  <td>Miguel Angel Sosa Posadas</td> 
				  <td class="gris">$900.00</td>
				  <td><div class="icon-search"></div></td>
				  <td class="gris"><div class="icon-coin"></div></td>
				</tr>
				<tr>
				  <td class="gris" >MSOSA01</td>
				  <td>Miguel Angel Sosa Posadas</td> 
				  <td class="gris">$900.00</td>
				  <td><div class="icon-search"></div></td>
				  <td class="gris"><div class="icon-coin"></div></td>
				</tr>
				<tr>
				  <td class="gris" >MSOSA01</td>
				  <td>Miguel Angel Sosa Posadas</td> 
				  <td class="gris">$900.00</td>
				  <td><div class="icon-search"></div></td>
				  <td class="gris"><div class="icon-coin"></div></td>
				</tr>
				<tr>
				  <td class="gris" >MSOSA01</td>
				  <td>Miguel Angel Sosa Posadas</td> 
				  <td class="gris">$900.00</td>
				  <td><div class="icon-search"></div></td>
				  <td class="gris"><div class="icon-coin"></div></td>
				</tr>
			</table>

		</div>

	</seccion>
