<seccion class="tabs">

	<div class="tab2">
		<div class="titulo-tab">Receta</div>
		<div class="buscar-cita">
			<div class="valor-conf">
				<label>Modelo de reseta: </label>
				<select> 
					<option>Modelo 1</option>
					<option>Modelo 2</option>
					<option>Modelo 3</option>
					<option>Modelo 4</option>
					<option>Modelo 5</option>
					<option>Modelo 6</option>
				</select>
			</div>
		</div>
		<div>
			<iframe class="preview-pane" width="100%" height="650" frameborder="0" src="">
			</iframe>
		</div>

	</div>

</seccion>