<seccion class="tabs">

	<div class="tab2">
		<div class="titulo-tab">Receta</div>
		<div class="buscar-cita">
			<div class="valor-conf">
				<label>Modelo de reseta: </label>
				<select id="modeloReceta"> 
					<option value="1">Modelo 1 (Logo consultorio y logo escuela)</option>
					<option value="2">Modelo 2 (Logo medicina izquierdo)</option>
					<option value="3">Modelo 3 (Logo medicina derecho)</option>
					<option value="4">Modelo 4 (Logo consultorio)</option>
					<option value="5">Modelo 5 (Logo consultorio grande)</option>
				</select>
			</div>
		</div>
		<div>
			<iframe class="preview-pane" width="100%" height="650" frameborder="0" src="">
			</iframe>
		</div>

	</div>

</seccion>