	<seccion class="tabs">

		<div class="tab2">
			<div class="titulo-tab">Lista de Tratamientos y precios</div>
			<div class="buscar-cita"><button class="button">Agregar Tratamiento</button></div>
			
			</div>
			<table>
				<thead>
				  <th>Tratamiento</th>
				  <th>Descripcion</th> 
				  <th>Precio Sugerido</th>
				  <th>Precio Especial</th>
				  <th>Editar / Borrar</th>
				</thead>
				<tr>
				  <td class="gris" >Endodoncia</td>
				  <td>Extraccion X Y y descripcion cualquiera</td> 
				  <td class="gris">$900.00</td>
				  <td>$600.00</td>
				  <td class="gris"><div class="icon-pencil"></div><div class="icon-remove"></div></td>
				</tr>
				<tr>
				  <td class="gris"> Endodoncia</td>
				  <td>Extraccion X Y y descripcion cualquiera del tamaño mas largo posible</td> 
				  <td class="gris">$1200.00</td>
				  <td>$600.00</td>
				  <td class="gris"><div class="icon-pencil"></div><div class="icon-remove"></div></td>
				</tr>
				<tr>
				  <td class="gris">Endodoncia</td>
				  <td>Extraccion X Y y descripcion cualquiera</td> 
				  <td class="gris">$900.00</td>
				  <td>$600.00</td>
				  <td class="gris"><div class="icon-pencil"></div><div class="icon-remove"></div></td>
				</tr>
				<tr>
				  <td class="gris">Endodoncia</td>
				  <td>Extraccion X Y y descripcion cualquiera</td> 
				  <td class="gris">$900.00</td>
				  <td>$600.00</td>
				  <td class="gris"><div class="icon-pencil"></div><div class="icon-remove"></div></td>
				</tr>
			</table>

		</div>

	</seccion>

