<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>clickDent : Sistema para administrar tu consultorio</title>
  <link rel="stylesheet" href="{{STATIC_URL}}css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/estilos.css">
  <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/style.css">
</head>
<body>

  <header>
    <div class="hd-visible">
      <h1 class = "logo">
        <figure></figure>
        <span>clickDent</span>
      </h1>
      <nav class = "nav">
        <ul>
          <li><a href=""> Registrate </a></li><li li class="menu"><a href="" id="btn-menu"><span class="icon-menu"></span></a></li><li><a href="" class = "desktop"> Conoce mas </a></li><li><a href="" class = "desktop"> Preguntas Frecuentes </a></li><li><a href="" class = "desktop"> Planes </a></li><li><a href="" class = "desktop"> Iniciar Sesion </a></li>

        </ul>
      </nav>
    </div>
    <nav class="nav-oculto" id="nav-oculto">
      <ul>
        <li><a href="">Conoce mas de clickDent</a></li>
        <li><a href="">Preguntas Frecuentes</a></li>
        <li><a href="">Registrarse</a></li>
        <li><a href="">Nuestros Planes</a></li>
      </ul>
    </nav>
  </header>

  <section class="seccion-blanca">
  	<article class="principal preguntas-frecuentes">
  		<h2>
  			
  			Registrate
  			<div class="chico">Usa tus redes sociales o <br> crea una cuenta exclusiva en clickDent</div>
  		</h2>

      <div class="registro-social">
        <div><a href="/login/twitter/" class="entra-twitter"><span class="icon-twitter"></span>Registrate con <strong>Twitter</strong></a></div>
        <div><a href="/login/facebook/" class="entra-facebook"><span class="icon-facebook"></span>Registrate con <strong>Facebook</strong></a></div>
      </div>

      <div class="col-registro" id="form-registro">
        <h4>Crear una cuenta</h4>
    		<form id="crearUsuario" class="form-registro" method="POST" action="/createUser/">
          {% csrf_token %}
          <div class="registro" id="form-usuario"><div class="icon-user linea"></div><input name="usuario" placeholder = "Usuario" id="usuario"><div class="linea-final"></div></div>
           <div class="registro" id="form-correo"><div class="icon-envelope linea"></div><input name="correo" placeholder = "Correo" id="correo"><div class="linea-final"></div></div>
           <div class="registro" id="form-password"><div class="icon-key linea"></div><input type="password" name="password" placeholder = "Contraseña" id="password"><div class="linea-final"></div></div>
           <div class="registro" id="form-confirma"><div class="icon-key linea"></div><input type="password" placeholder = "Confirma contraseña" id="confirma"><div class="linea-final"></div></div>
        </form>

        <div class="error"> 
          <ul id="error">
          </ul>
        </div>

      <div class="boton">
          <a href="#" class="button" id="registrarse">Registrarse</a>
        </div>

      </div>

      <p class="chico">Coloca en esta zona un mensaje sobre la polita de privacioada que ofresera el sitio, Coloca en esta zona un mensaje sobre la polita de privacioada que ofresera el sitio, Coloca en esta zona un mensaje sobre la polita de privacioada que ofresera el sitio</p>

  	</article>
  </section>

   <footer>
    <div class="contactanos link-blanco">
      <div class = "cont-logo"> 
        <h1 class = "logo">
          <figure></figure>
          <br>
        </h1>
      </div>
      <div class="social">
        <div class="col">
          <div><a href=""><span class = "icon-facebook"></span> /clickDent</a></div>
          <div><a href=""><span class = "icon-twitter"></span>  @clickDent</a></div>
        </div>
        <div class="col">
           <div><a href=""><span class = "icon-phone"></span>  01 800 123456</a></div>
          <div><a href=""><span class = "icon-envelope"></span>  contacto@clickDent.com</a></div>
        </div>
      </div>
    </div>
    <div class = "enlaces link-azul">
      <a href="">Terminos y   Condiciones</a> | <a href="">Mapa del Sitio</a> | <a href="">   Copyright</a>
    </div>
  </footer>

  <script src="{{STATIC_URL}}js/vendor/jquery.js"></script>
  <script src="{{STATIC_URL}}js/vendor/underscore.js"></script>
  <script src="{{STATIC_URL}}js/vendor/backbone.js"></script>
  <script src="{{STATIC_URL}}js/utils/utils.js"></script>
  <script src="{{STATIC_URL}}js/app.js"></script>
  <script src="{{STATIC_URL}}js/models/usuario.js"></script>
  <script src="{{STATIC_URL}}js/views/registraUsuario.js"></script>
  <script>
    $('#btn-menu').on('click', function(ev) {
      $('#nav-oculto').slideToggle();
      return false;
    });

    var registroView = new clickDent.Views.RegistarUsuario({model : new clickDent.Models.Usuario()});

  </script>

</body>
</html>
