#interaccion {
	min-height: 100%;
	position: relative;
	overflow: hidden;
}

#cargando {
	width: 100%;
	display: none;
	position: absolute;
	background-color: rgba(227,227,227,.5);
	height: 100%;
	text-align: center;
	z-index: 3;
}

#imgCargando {
	position: fixed;
	top: 45%;
}

.clickDent {
	font-family: "Open Sans", "Arial";
}

.centrado {
	text-align: center;
}

.dienteAuxiliar, .dienteAuxiliarView {
	height: 25px;
	width: 100%;
	display: block;
	margin: 0 !important
}

.diente, .dienteView {
	width: 100%;
	height: 43px;
}

.dienteAuxiliar, .diente {
	cursor: pointer;
}
.dienteAuxiliarView, .dienteView {
	cursor: default !important;
}

.dienteCompleto{
	width: 5%;
	padding-left: 0 !important;
	padding-right: 0 !important;
	display: inline-block;
	cursor: default !important;
}

.dienteBloque {
	margin-top: 1.5em;
	margin-bottom: 1em;
	cursor: default !important;
}

.simbologia {
	margin-left: 25%;
	width: 50%;
	text-align: center;
	font-size: .8em;
	display: block !important; 
	cursor: default !important;
}

.simbologia td{
	padding: .2em !important;
}

.caries {
	background-color: blue;
}

.obturacion {
	background-color: red;
}

.ausente {
	background-color: black;
}

.extraer {
	background-color: gray;
}

.corona {
	background-color: yellow;
}

.tramo {
	background-color: green;
}

.clickDent header{
	background-color: #005990;
	height: 30px;
	font-weight: bold;
	color: white;
	text-align: center;
	padding: .5em;
}

.clickDent .menu{
	width: 80%;
	float: left;
	background-color: #005990;
	min-height: 100%;
	display: none;
	position: absolute;
}

.clickDent .contenido{
	display: inline-block;
	min-height: 100%;
	width: 100%;
}

.clickDent .avatar {
	padding: 30px;
}

.clickDent .imgAvatar {
	border: 1px dashed white;
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
}
.clickDent .imgConsultorio { 
	width: 100px;
	height: 100px;
	margin: 0 auto;
	display: block;
}

.clickDent .datosLogin {
	text-align: center;
	color: white;
	font-weight: bold;
	padding-bottom: 1em;
}

.clickDent .menu nav{
	width: 100%;
}

.clickDent .menu nav ul li{
	list-style: none;
	text-align: left;
}

.clickDent .menu nav ul li.itemMenu{
	padding: .9em;
	margin-left: 20%;
	background-color: #5c94c7;
	margin-top: .2em;
	position: relative;
	color: white;
  	font-size: 0.8em;
  	text-align: center;
}

.clickDent .menu nav ul li.itemMenu:after {
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  content: "";
  left: 0;
  position: absolute;
  border-left: 15px solid #005990;
  top: 0;
}

.seleccion{
	background-color: #f1816e !important;
}




.clickDent .menu nav ul li.titulo{
	border: 0;
	padding: 0.5em 0;
	padding-left: 0;
	margin: 0;
	background-color: transparent;
}



.clickDent .menu nav ul li a{
	margin-left: 2em;
	color: white;
	text-decoration: none;
	width: 100%;
}

.clickDent .menu nav ul li.itemMenu:hover{
	color: #e7ebd8 !important;
	cursor: pointer;
	background-color: #f1816e;
}

.clickDent .menu .titulo{
	font-size: 1.5em;
	color: #5c94c7;
}

.clickDent .notificaciones:hover,
.clickDent .cont-menu:hover,
.clickDent .cerra:hover,
.clickDent .icono-acceso:hover
{
	opacity: .6;
}

.clickDent .notificaciones,
.clickDent .cont-menu,
.clickDent .cerra,
.clickDent .icono-acceso
{

	padding: .5em;
	cursor: pointer;
	color: white;
}

#agregarCita
{
	padding-right: .9em;
}

.clickDent .cerra{
	position: absolute;
	right: 0;
}

.clickDent .notificaciones{
	float: right;
	border-left: solid 1px white;
	padding-left: 1em;
}

.clickDent .icono-acceso{
	float: right;
}

.clickDent .cont-menu{
	float: left;
	border-right: solid 1px white;
	padding-right: 1em;
}

.busqueda {
	text-align: center;
	padding-top: 1em;
}

.busqueda label {
	font-weight: bolder;
	font-size: 1em !important;
}

.buscar {
	display: block;
	margin: 2em auto;
}

.buscar div{
	display: inline-block;
	margin-left: 1em;
	color: #22b0e6;
}

.buscar div:hover{
	color: #f15d45;
	cursor: pointer;
}

.busqueda input{
	margin-left: 1em;
	width: 80%;
	max-width: 500px;
	font-size: 0.9em;
	padding: .2em;
	border: 1px solid #22b0e6;
	border-radius: .2em;
}

.avanzado{
	font-size: .6em;
	margin-left: -2.5em !important;

}

.citas{
	text-align: center;
	margin-top: 3em;
	color: #8a9c9d;

}

.cita{
	display: inline-block;
	width: 80%;
	border-bottom: 1px solid #0069aa;
	vertical-align: top;
}

.citas div{
	margin-bottom: 1em;
}


.cita div{
	margin-top: 1em;
}

.proximas {
	display: inline-block;
	width: 80%
}

.proximas .citap:first-child{
	border-bottom: 1px solid #0069aa;
}

.citap{
	padding: 1em 0;
	font-size: .8em;
}

.acciones {
	text-align:right;
	padding-right: 1em;
	font-size: .9em;
}

.acciones div{
	display: inline-block;
}

.horario {
	color: #0069aa;
	/*color: #f15d45;*/
}

.citas a{
	color: #22b0e6;
	text-decoration: none;
}

.citas a:hover{
	color: #f1816e;
}

.button {
  padding: 0.2em .5em; 
  background-color: #f15d45;
  color: #fff;
  border-radius: 0.5em;
  border: #f1816e solid 2px;
}
.button:hover {
  background-color: #f1816e;
  border: #f15d45 solid 2px;
}

.planTratamientos table td:first-child {
	width: 60%;
}

.planTratamientos table td input {
	font-size: .8em;
	width: 100%;
}

.calendarioPlanTratamiento input {
	width: auto !important;
}

.calendarioPlanTratamiento button {
	font-size: .8em;
}

label{
	color: #363636;
	font-weight: bold;
	font-size: 0.9em;
	margin-right: 1em;
}

.notaImportante{
	color: #888;
	font-size: 0.7em;
}

.historial a{
	margin-left: 1em;
	margin-right: 1em;
}

.tabs {
	text-align: center;
}

.contenidos-tabs {
	display: inline-block;
	width: 100%;
	min-height: 100%;
	text-align: left;
}

.tab1{
	display: block;
	}

.tab2 .titulo-tab{
	padding-top: 1em !important;
}

.valor-conf{
	margin: 1em;
	color: #363636;
	font-size: 0.85em;
}

.citasPendientes {
	font-size: 0.7em;
	text-align: center;
	width: 100%;
	background: #e7ebd8 url("img/texture_cream.jpg");
	height: 28%;
	color: #8a9c9d;
	position: absolute;
	bottom: 0;
}

.citasPendientes h3 {
	padding: .5em;
	padding-bottom: 1em;
	color: #0069aa;
} 

.finalizaTratamiento {
	font-size: 0.8em;
}

.citaPendiente {
	display: inline-block;
	padding: .5em;
	border-right: 1px solid #CCC;
}

.citaPendiente div{
	margin: .3em;
}

.citasPendientes .citaPendiente:last-child {
	border-right: none; 
}

.citasPendientes a {
	font-size: 0.8em;
	margin: .5em;
  
}

.valor-conf label{
	display: inline-block;
	color: #8a9c9d !important;
	width: 40%;
	vertical-align: top;
}

.valor-conf input{
	width: 50%;
	font-size: 0.8em;
}

.valor-conf input[type="time"]{
	width: 20%;
	font-size: 0.8em;
}

.valor-conf textarea{
	width: 50%;
	height: 5em;
	font-size: 0.8em;
	resize: none;
}

.valor-conf select{
	width: 50%;
	font-size: 0.8em;
}

.valor-conf div {
	vertical-align: top;
	margin: 1em;
}

.valor-conf div label{
	width: 30%;
	padding-left: 10%;

}

.check {
	padding: .5em;
	font-size: 0.8em;
	padding-left: 30%; 
}

.check input{
	margin-right: 1em;
	width: auto;
}

.check label{
	width: auto !important;
	padding-left: 0 !important;
}

output {
	display: inline-block;
	text-align: center;
	width: 90%;
}

.titulo-tab{
	text-align: left;
	border-bottom: 1px solid #EEE;
	padding: .5em;
	margin: 1em 1em 2em 2em;
	font-size: 0.9em;
	color: rgba(54, 54, 54, .9);
	font-family: Arial;
	font-weight: 700;
	padding-top: 3em;
}

#list img{
	margin-top: .8em;
	margin-left: 60%;
}

.estudios{
	width: 90% !important;
}

.estudios a {
	font-size: 0.9em;
	float: right;
}


.estudios a div{ 
	display: inline-block; 
	vertical-align: middle;
	margin-right: 0;
}

a {
	text-decoration: none;
	color: #22b0e6;
	font-family: Arial;
}

a:hover{
	color: #f1816e;
}

.calendario{
	border: 1px solid black;
}

.calendario .cita-calendario div{
	display: inline-block;
	width: 85%
}

.calendario {
	width: 90%;
	margin: auto;
	margin-top: 2em;
	color: #8a9c9d
}

.calendario .fechas{
	background-color: #0069aa;
	color: white;
}

.calendario .fechas div{
	display: inline-block;
	width: 29%;
}

.calendario .fechas .navegacion{
	border-bottom: 2px solid transparent;
}

.float-rigth {
	float: right;
}

.float-left {
	float: left;
}


.calendario div.navegacion{
	vertical-align: top;
	width: 4% !important;
	background-color: #22b0e6;
	opacity: .6;
	cursor: pointer;
}

.calendario div.navegacion:hover{
	opacity: 1;
}

.calendario div.navegacion a{
	color: white;
	font-weight: bolder;
	font-style: oblique;
}

.cita-calendario .navegacion{
	margin-top: 9em;
	background-color: transparent !important;
	-webkit-transform: scale(1.5,7);
}

.buscar-cita {
	margin-top: 2em;
}

.cita-datos div{
	margin-top: .8em;
}

.cita-calendario .acciones button{
	margin: .5em;
}

.cita-calendario .acciones {
	text-align: center;
}

.nocitas-calendario {
	margin-top: 6em;
	margin-bottom: 6em;
}

.nocitas-calendario:first-child {
	margin-top: 4em;
}

.cita-seleccion{
	border-bottom: 3px solid #f15d45;
}

.botones-form{
	text-align: center;
}

.botones-form button{
	margin: .5em;
	font-size: .8em;
}

.chico-negritas {
	font-size: 0.9em;
	font-weight: bold;
}

seccion.tabs table{
	width: 90%;
	margin: auto;
	margin-top: 3em;
	font-size: .8em;
}

seccion.tabs thead{
	font-size: .9em;
	background-color: #22b0e6;
	color: white;
}

seccion.tabs tr{
	border-bottom: 1px solid #8a9c9d;
}

seccion.tabs td {
	padding: .5em;
	color: #363636;
}

seccion.tabs td.gris {
	background-color: #EEE;
}

seccion.tabs td div{
	display: inline-block;
	padding-left: .4em;
	padding-right: .4em;
	cursor: pointer;
	color: #005990;
}

seccion.tabs td div:hover{
	color: gray;
}

seccion.tabs td div:first-child{
	border-right: 1px solid gray;
}

seccion.tabs table.pagos td div{
	border-right: none;
}

.busca-pago {
	padding: 1em;
}

.cerraEscuela {
	color: #f1816e;
	font-size: .8em;
	margin: 0 !important;
	display: inline-block;
}
.cerraEscuela:hover {
	cursor: pointer;
	color: red;
}

.contenedorEscuela {
	display: block;
	margin: 0 !important;
}

.tratamiento {
	padding: 0 !important;
}

.popup {
	width: 90%;
	text-align: center;
	margin-top	: 1em;
	margin-left: 3%;
	background-color: red;
	border-radius: .5em;
	background-color: #005990;
	color: white;
}

.backpopup {
	width: 100%;
	position: absolute;
	background-color: rgba(0,0,0,.8); /*rgba(92,148,199,.3)*/
	z-index: 2;
	display: none;
}

.popup div .campo {
	display: block;
	padding: .8em;
	text-align: center;
	overflow: hidden;
}

.popup .campo label {
	color: #CCC !important;
	font-weight: normal;
	font-size: .8em;
	width: 30%;
	display: inline-block;
}

.popup .campo input, .popup .campo select, .popup .campo textarea{
	width: 60%;
	font-size: .8em;
	color: #222 !important;
}

.popup div.titulo {
	font-weight: bold;
	color: #FFF;
	letter-spacing: .2em;
	font-family: "Arial";
	padding: 1em;
}

.popup button {
  margin: .5em;
  background: #006699;
  border: none;
  color: #ffffff;
  font: .7em Tahoma, Arial, sans-serif;
  padding: .6em;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #333;
  letter-spacing: 1px;
  text-shadow: 0px -1px 0px #333333;
  border-radius: 5px;

  /**** Degradados ****/
  /*  Chrome 1-9 and Safari 4-5.0  */
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #8b8b8b), color-stop(0.5, #707070), color-stop(0.5, #5e5e5e), color-stop(1, #777777));
  /*  Chrome 10+ Safari 5.1+ Mobile Safari  */
  background-image: -webkit-linear-gradient(top, #8b8b8b, #707070 50%, #5e5e5e 50%, #777777);
  background-image: linear-gradient(top, #8b8b8b, #707070 50%, #5e5e5e 50%, #777777);
}

.popup button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #5d5d5d), color-stop(0.5, #424242), color-stop(0.5, #383838), color-stop(1, #535353));
  background-image: -webkit-linear-gradient(top, #5d5d5d, #424242 50%, #383838 50%, #535353);
  background-image: linear-gradient(top, #5d5d5d, #424242 50%, #383838 50%, #535353);
}
.popup button:active {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #000000), color-stop(0.05, #2b2b2b), color-stop(0.5, #434343), color-stop(1, #3e3e3e));
  background-image: -webkit-linear-gradient(top, #000000, #2b2b2b 5%, #434343 50%, #3e3e3e);
  background-image: linear-gradient(top, #000000, #2b2b2b 5%, #434343 50%, #3e3e3e);
}

.popup .tratamientos{
	display: none;
}

.popup #tratamiento-cita-quitar{
	float: right;
}

.popup .campo a {
	float: right;
	font-size: .8em;
	padding-right: 1em;
	padding-bottom: .6em;
}

.popup .campo a div{
	display: inline-block;
	margin-left: .2em;
}

#listaPacientes td div:first-child{
	border: none !important;
}

tr.detalle .campo {
	display: block !important;
	padding: 1em;
}

tr.detalle .campo label{
	width: 40%;
	text-align: left;
	padding-left: 2em;
	display: inline-block;
	margin-right: 0 !important;
}

tr.detalle .campo div{
	font-style: italic;
	width: 50%;
	text-align: left;
	font-size: .85em;
}

tr.detalle table {
	margin-top: 0;
	width: 98%;
	font-size: .85em;
}

tr.detalle thead {
	background-color: #666;
	color: #eee;
}

tr.detalle .tratamiento div{
	width: 25%;
}

tr.detalle .tratamiento div:first-child{
	width: 40%;
}

tr.detalle .tratamiento .oscuro{
	display: block;
	background-color: #DDD;
	overflow: hidden;
}

tr.detalle .tratamiento .listaPagos div{
	width: 34%;
}

tr.detalle .tratamiento .listaPagos .pagado{
	width: 15%;
}

input[name="buscar"], 
input#inputBuscar,
.buscar-cita input[type="time"]{
	font-size: .78em;
}

.valido {

}

.invalido {
	border: solid 2px;
	border-color: #f1816e;
}

span.requerido {
	color: #4a5c5d;
}

.edicion {
	text-align: center;
}

.edicion label{
	width: 70%;
}

.edicion a {
	float: left;
	font-size: 1.3em;
}

.edicion a span{
	font-size: .6em;
	font-weight: bold;
	font-family: Arial;
	padding-left: .3em;
}

.edicion {
	display: none;
}

.edicion .icon-paste, .edicion .icon-profile {
	float: right;
}

#total {
	width: 15%;
	text-align: center;
}

#liquidacion {
	width: 35%;
	text-align: center;
}

.error {
	color: #f1816e;
	font-size: .8em;
	font-weight: bold;
}

#errorCita{
	display: none;
}

#campoDeuda, #campoTratamiento{
	display: none;
}

.valor-conf .error{
	text-align: center;
	display: none;
}

.campo .error{
	text-align: center;
	display: none;
}

.remarcar {
	font-weight: bold !important;
	font-size: 1.1em !important;
}

.citasPendientes {
	display: none;
}

.escritorio {
	display: none;
}

.campoReceta input{
	width: 100%;
	font-size: .8em;
	margin: .5em;
	color: black;
}

.check-inline {
	display: inline-block;
}

.no-margin {
	margin: 0 !important;
}

.separador {
	border-bottom: 1px solid #EEE;
}

@media screen and (min-width: 650px) {

	.planTratamientos table {
		width: 70% !important;
	}

	.simbologia {
		margin-left: 30%;
		width: 40%;
	}
	.dienteAuxiliar, .dienteAuxiliarView {
		height: 25px;
	}

	.diente, .dienteView {
		height: 43px;
	}

	.citasPendientes {
		display: block;
	}

	.popup {
		width: 70%;
		margin-left: 15%;
	}

	.clickDent .cerra{
		display: none;
	}

	.clickDent .menu{
		display: inline-block;
		width: 30%;
		position: relative;
	}

	.clickDent .contenido{
		display: inline-block;
		width: 70%;
	}

	.clickDent .cont-menu{
		display: none;
	}
	.proximas{
		width: 28%;
	}

	.cita{
		width: 70%;
		border-right: 1px solid #0069aa;
		border-bottom: none;
	}

	.busca-pago{
		display: inline-block;
	}	

	.popcancelar {
		width: 100%;
	}

	.nocitas-inicial {
		margin-top: 3em;
	}

}


@media screen and (min-width: 1030px) {

	.simbologia {
		margin-left: 35%;
		width: 30%;
	}

	.escritorio{
		display: inline-block;
	}

	.dienteAuxiliar, .dienteAuxiliarView {
		height: 35px;
	}

	.dienteCompleto{
		width: 4%;
		display: inline-block;
	}

	.diente, .dienteView {
		height: 50px;
	}

	.popup {
		width: 60%;
		margin-left: 20%;
	}

	.clickDent .imgAvatar {
		width: 120px;
		height: 120px;
	}

	.clickDent .menu{
		width: 25%;
	}

	.clickDent .contenido{
		width: 75%;
	}

	.proximas{
		width: 19%;
	}

	.cita{
		width: 80%;
	}

	.contenidos-tabs{
		margin: auto;
	}

}
