

{% extends 'base.html' %}
{% comment %} Comentarios plantilla django {% endcomment %}
{% block titulo %} Configuracion {% endblock %}

{% block contenido %}


<script>

nuevoUsuario = false;
usuario = "{{ usuario }}";
correo = "{{ usuario.email }}"

console.log(usuario);

{% if nuevoUsuario %}

nuevoUsuario = true;
console.log("Primer Ingreso del usuario mandar a configuracion   " + usuario);


{% endif %}

</script>

<section>
	<div class="busqueda">
		<label for="buscar">Buscar Paciente: </label>

		<div class="buscar">
			<input placeholder="Ingresa clave o nombre" name ="buscar" />
			<div class="icon-plus avanzado"></div>
			<div class="icon-search"></div>
		</div>

	</div>

	<div class="citas">
		
	</div>

</section>

{% endblock %}